parameters:
    paths:
        - src
        - tests
    level: max
    phpVersion: 80100
    bootstrapFiles:
        - ./.tools/phpunit.phar
    reportUnmatchedIgnoredErrors: true
    ignoreErrors:
        - '#^Attribute class JetBrains\\PhpStorm\\.+ does not exist\.#'
        -
            message: '#expects resource, array<int, string> given#'
            paths:
                - tests/Unit/Messages/StreamTest.php