parameters:
    paths:
        - src
        - tests
    level: max
    bootstrapFiles:
        - ./vendor/bin/phpunit.phar
    reportUnmatchedIgnoredErrors: true
    ignoreErrors:
        -
            message: '#resource\|string, array<int, string> given#'
            paths:
                - tests/Unit/Messages/StreamTest.php