<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="../vendor/autoload.php"
         verbose="true"
         beStrictAboutOutputDuringTests="true"
         colors="true"
         backupGlobals="true"
         stopOnError="true"
         stopOnFailure="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd">
  <coverage processUncoveredFiles="true" cacheDirectory=".coverage-cache">
    <include>
      <directory suffix=".php">../src</directory>
    </include>
    <report>
      <clover outputFile="clover.xml"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Unit">
      <directory>Unit</directory>
    </testsuite>
  </testsuites>
</phpunit>
